header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 157px;

  @include mobile {
    justify-content: center;
  }
}

.header__logo {

}

.header__navigation-button {
  cursor: pointer;
  width: 54px;
  height: 48px;
}

.header__contact-info {
  align-self: center;

  @include mobile { // re-define this later, dont forget!
    display: none;
  }
}
