<header class="site-header">
  <div class="site-header__navigation-button">
    {% include "@atoms/navigation-button.twig" %}    
  </div>
  {% include "@molecules/site-logo.twig" %}
  <p class="header__contact-info">{{email}}</p>
</header>
