.footer__bottom {
  background-color: $c-darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0 25px 0;
}

.footer__bottom-social-icons {
  padding: 20px 0 10px 0;
}
