<h1>Small dark button</h1><hr>
<button class="btn-sm btn-dark">{{word}}</button>
<br><br><br>

<h1>large dark button</h1><hr>
<button class="btn-lg btn-dark">{{word}}</button>
<br><br><br>

<h1>Small gold button</h1><hr>
<button class="btn-sm btn-gold">{{word}}</button>
<br><br><br>

<h1>large gold button</h1><hr>
<button class="btn-lg btn-gold">{{word}}</button>
<br><br><br>

<h1>Animated Button</h1><hr>
{% include '@atoms/animated-button.twig' %}
<br><br><br>

<h1>Navigation Button</h1><hr>
{% include '@atoms/navigation-button.twig' %}
