$c-black: #000000;
$c-white: #ffffff;
$c-greylight: #434343;
$c-blacklightened: #1a1a1a; // primary color
$c-grey: #f2f2f2; // primary color
$c-darkgrey: #37373f; // buttons and footer bg-color
$c-gold: #B88B4A; // accent color
$c-quote:  #737373; // light gray for quotes


// delete
$c-border: black;
$c-red: red;
$c-gray--light: #f2f2f2;
$c-gray: #f2f2f2;
