.c--primary-light {
  color: $c-grey;
}

.c--primary-dark {
  color: $c-blacklightened;
}

.c--accent {
	color: $c-gold;
}

.c--light-grey {
  color: $c-quote;
}

.c--dark-grey {
  color: $c-blacklightened;
}

.c--test {
  color: $c-blacklightened;
}
