.animated-button {
  letter-spacing: 3px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 10px;
  position: relative;
  transition: background 0.3s ease-in 0.2s;
  text-align: center;
  word-wrap: break-word;
  &:after,
  &:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: $c-gray;
    transition: all 0.3s ease-out;
    z-index: 10;
  }
  &:before {
    opacity: 0;
    bottom: 50%;
    background: $c-darkgrey;
    height: 4px;
  }
  &:not(.no-hover):hover {
    background: $c-darkgrey;
    transition: background 0.3s ease-in 0.3s;
    z-index: 30;
  }
  &:not(.no-hover):hover:before {
    bottom: 100%;
    opacity: 1;
    z-index: 30;
  }
  &:active {
    color: $c-black;
    background: transparent;
    transition: background 0.3s ease-in 0.3s;
    &:before {
      bottom: 50%;
      opacity: 0;
    }
  }
}
