.hero-block {
  position: relative;
  width: 100%;
  height: calc(100vh - 157px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-block__image-wrapper {
  position: absolute;
  z-index: -1;
}

.hero-block__punchline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  @include mobile { // re-define this later, dont forget!!!!!
    @include font-size(35px);
  }
}

.hero-block__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
