<!-- Hero block with image, text and a button -->
<div class="hero-block">
    <div class="hero-block__image">
      {% include "@atoms/hero-image.twig" %}
    </div>
    <div class="hero-block__punchline">
      <h1 class="{{font_style.pt.lg}} {{font_color.light}}">{{site_slogan}}</h1>
    </div>
    <div class="hero-block__button">
      {% include "@atoms/animated-button.twig" %}
    </div>
</div>
