<!-- 4-piece grid, can be viewed on homepage -->
<div class="thumbnail-grid">
  {% set count = 3 %}
  {% for i in 0..count %}
    <div class="thumbnail-grid__item">
      {% include '@molecules/box-thumbnail.twig' %}
    </div>
  {% endfor %}
</div>
