<!-- Displaying the 3 main services BRC provides. can be viewed on the services page -->
<div class="brc-services">
  {% set count = 2 %}
  {% for i in 0..count %}
    <div class="brc-services__tile">
      {% include "@molecules/content-block.twig" %}
    </div>
  {% endfor %}
</div>
