.box-thumbnail {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid;
}

.box-thumbnail__icon {
  display: flex;
  justify-content: center;
}

.box-thumbnail__description {
  p {
    margin: 0;
    text-align: center;
  }
}

.box-thumbnail__button {
  margin-top: 20px;
}
