<div class="box-thumbnail">
  <div class="box-thumbnail__icon">
    {% include "@atoms/icon-caption.twig" %}
  </div>
  <div class="box-thumbnail__description">
    <p class="cormorant-sm c--primary-dark">{{excerpt.short}}</p>
  </div>
  <a href="{{url}}" class="box-thumbnail__button">
    <button class="btn-sm btn-dark">{{word}}</button>
  </a>
</div>
