// // // Crispy Text. turn this off and on to see what i mean.
h1, h2, h3, h4, h5, h6, p,label, a, li {
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	-webkit-font-smoothing: antialiased !important;
}

h1, h2, h3, h4, h5, h6, p {
	color: $c-grey;
	font-weight: normal;
}

p {
	font-family: $ff--regular;
	font-size: get-vw(64px);
	line-height: get-vw(104px);
}

a {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-decoration: none;
}

// //  you can set styles ither by tag or by class. if you choose class then baseline all tags like this:
h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	font-size: inherit;
	letter-spacing: inherit;
	color: inherit;
	margin: 0;
}

 // ================= PT SANS Sizing ================= //
 .pt-sm { // Footer email and phonenumber
 	@include font-size(20px);
 	font-family: $ff--bold;
 }

.pt-md { // BRC Expertise Title, Footer Social heading
	@include font-size(30px);
	font-family: $ff--bold;
}

.pt-lg { // hero text
	@include font-size(60px);
	font-family: $ff--bold;
}


//  ================= Raleway Sizing  ================= //
.raleway-sm { // Services description, footer copyright
	@include font-size(18px);
	font-family: $ff--regular;
}

.raleway-md { // navigation items
	@include font-size(25px);
	font-family: $ff--regular;
}

.raleway-lg { // navigation items
	@include font-size(35px);
	font-family: $ff--regular;
}

//  ================= Cormorant sizing  ================= //
.cormorant-sm { // BRC Expertice description
	@include font-size(18px);
	font-family: $ff--alternate;
}

.cormorant-md {
	@include font-size(30px);
	font-family: $ff--alternate;
}

.cormorant-lg { // used in footer "if youre ready, so are we"
	@include font-size(60px)
	font-family: $ff--alternate;
}

//  ================= Audimat Sizing (Logo Only)  ================= //
.audimat-sm {
	@include font-size(12px);
	font-family: $ff--logo;
}

.audimat-md {
	@include font-size(25px);
	font-family: $ff--logo;
}

.audimat-lg {
	@include font-size(45px);
	font-family: $ff--logo;
}
